<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="http://schickling.me">Blog</a></li>
    <li><a href="https://github.com/schickling/read-faster">Source on Github</a></li>
  </ul>
  <h3 class="text-muted">read faster</h3>
</div>

<div class="jumbotron">
  <ticker></ticker>
</div>

<div class="row text">
  <textarea class="form-control" rows="15">Insert your text here...</textarea>
</div>

<div class="footer">
  <p>Credits to <a href="http://learn2spritz.com/">learn2spritz</a></p>
</div>
